<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxp33G9MBmG1-jXlxf0DE1VbQjex4zX1k</string>
	<key>GCM_SENDER_ID</key>
	<string>629298726473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.azharuddin</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-3de6f</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-3de6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629298726473:ios:d68c26bdb9ed3cdee72198</string>
</dict>
</plist>